@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@keyframes widthAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.text-container {
  overflow: hidden;
  white-space: nowrap;
}

.text-item {
  overflow: hidden;
  flex-wrap: nowrap;
}

.text-item:not(.visible) {
  display: none;
}

.visible {
  display: flex;
  animation: widthAnimation 3s;
}